{% load staticfiles %}
<html lang="en">
<head>
	
	<title>Book Store</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		});
	</script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<style type="text/css">
	.bg 
	{
	    /* The image used */
	    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQyhE2zsacciNX5ZFYvwb6cblGiSc75Z7rNxbt8Q50Ep1SssluHg");

	    /* Full height */
	    height: 100%; 

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.wrapper {	
		margin-top: 80px;
 		margin-bottom: 80px;
	}
	.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
  border-radius: 5px;
}
	input{
		margin: 10px;
	}
	a{
		font-weight: bold;
	}
	</style>
</head>
<body>
	<div class="">
	<div class="row">
			<div class=" col-md-4">
			   <a href="#" class="logo pull-left"><img src="{% static 'bookstore.jpg' %}" class="site_logo" alt=""></a>
		 	</div>
		 	<div class=" col-md-4">
			   </div>
		</div>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
			    <ul class="nav navbar-nav">
			      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			      <li>
                        <a href="#contact"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    	<li><a href="/shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
				  <li><a href="/sellingcart"><span class="glyphicon glyphicon-upload"></span> Sell</a></li>
                    {% endif %}
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			      {% if user.is_authenticated %}
				      	<li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
			      {% else %}
				      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				      <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			      {% endif %}
	    		</ul>
		 	</div>
		</nav>
		<div class="container">
			<div class="wrapper">
				<form action="register" method="post" class="form-signin">
					{% csrf_token %}
					<div class="form-group">
					Username : {{context.username}}
					</div>
					<div class="form-group">
					Password : <input type="password" class="form-control" name="password" value="{{context.password}}" required="" autofocus="">
					</div>
					<div class="form-group">
					Email : <input type="text" class="form-control" name="email" value="{{context.email}}" required="" autofocus="">
					</div>
					<button type="submit" class="btn btn-primary" name="reset" style="position: relative;left: 35%;">Save Changes</button>
				</form>
				<br>
				<div class="container" style="margin: 0 auto;">
				<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin: 0 auto;text-align: center;position:relative;left: 40%;">View Transactions</button>

		  		<div class="modal fade" id="myModal" role="dialog">
		  			<div class="modal-dialog">
		    
						<div class="modal-content">
			   				<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">History</h4>
			   				</div>
			   				<div class="modal-body">
			   					{% for t in transactions %}
			   					<fieldset>
			   						<p>Price: {{t.total}}</p>
									<form action="" method="get" class="form-horizontal form-signin">
					
										{% csrf_token %}
										<div class="form-group">
											Review : <input type="text" name="review" class="form-control">
										</div>
													
										<button type="submit" name="send" class="btn btn-primary" style="position: relative;left: 40%;">Send Review</button>
									</form>
			   					</fieldset>
								{% endfor %}
			 			    </div>
			   				<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  				 </div>
						</div>
			 
		    		</div>
		  		</div>
  
			</div>
			<br>
				<div class="container" style="margin: 0 auto;">
				<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" style="margin: 0 auto;text-align: center;position:relative;left: 42.5%;">Order History</button>

		  		<div class="modal fade" id="myModal1" role="dialog">
		  			<div class="modal-dialog">
		    
						<div class="modal-content">
			   				<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">History</h4>
			   				</div>
			   				<div class="modal-body">
			   					{% for o in orders %}
			   					<fieldset>
			   						<p>Price: {{o.total}}</p>
			   						<ul>
											{% for x in o.book.all %}
												<li>{{x.title}}</li>
											{% endfor %}
									</ul>
			   					</fieldset>
								{% endfor %}
			 			    </div>
			   				<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  				 </div>
						</div>
			 
		    		</div>
		  		</div>
  
			</div>
			</div>
		</div>
		<!--Footer -->
    <div class="col-md-12 footer-box" style="background-color: black;color: white;text-align: center;">
    <br>
        <div class="row">
            <div class="col-md-4">
                <strong>Send a Quick Query </strong>
                <hr>
               <form method="get"> 
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" required="required" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit Request</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4" id="contact">
                <strong>Our Location</strong>
                <hr>
                <p>
                     Book Store<br /><br>
                                    NITK, Surathkal<br />
                                    </p><p>
                    Call: <a>+91-9901551546</a><br><br>
                    Email: <a>shamithasudupa@gmail.com</a><br>
                </p> </div>
        </div>
        </div>
    <!-- /.col -->
    <div class="col-md-12 end-box ">
        &copy; 2018 | &nbsp; All Rights Reserved | &nbsp; www.bookstore.com | &nbsp; 24x7 support | &nbsp; Email us: shamithasudupa@gmail.com
    </div>
	</div>
</body>
</html>
