{% load staticfiles %}
<html lang="en">
<head>
	<title>Book Store - Selling Cart</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.cart').on('click',function(){
				isbn=$(this).prev().prev().prev().text();
				location.href="/sellingcart?isbn="+isbn+"&action=remove";
			});
		});
	</script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<style type="text/css">
	#panel{
		text-align: center;
	}
	.bg 
	{
	    /* The image used */
	    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQyhE2zsacciNX5ZFYvwb6cblGiSc75Z7rNxbt8Q50Ep1SssluHg");

	    /* Full height */
	    height: 100%; 

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.wrapper {	
		margin-top: 80px;
 		margin-bottom: 80px;
	}
	.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
  border-radius: 5px;
}
	input{
		margin: 10px;
	}
	.thumbnail img{
		width: 100%;
		height: 200px;
		position: relative;
	}
	.thumbnail{
		border: 1px solid #ddd;
		width: 80%;
	}
	a{
		font-weight: bold;
	}
	</style>
</head>
<body>
	<div class="">
	<div class="row">
			<div class=" col-md-4">
			   <a href="#" class="logo pull-left"><img src="{% static 'bookstore.jpg' %}" class="site_logo" alt=""></a>
		 	</div>
		 	<div class=" col-md-4">
			   </div>
		</div>
	<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
			    <ul class="nav navbar-nav">
			      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			      <li>
                        <a href="#contact"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    	<li><a href="/shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
				  <li><a href="/sellingcart"><span class="glyphicon glyphicon-upload"></span> Sell</a></li>
                    {% endif %}
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			      {% if user.is_authenticated %}
			      		<li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
			      {% else %}
				      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				      <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			      {% endif %}
	    		</ul>
		 	</div>
		</nav>
	<div class="container" style="margin: 0 auto;">
				<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin: 0 auto;text-align: center;position:relative;left: 40%;">Add to cart</button>

		  		<div class="modal fade" id="myModal" role="dialog">
		  			<div class="modal-dialog">
		    
						<div class="modal-content">
			   				<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title" style="text-align: center;">Selling Cart</h4>
			   				</div>
			   				<div class="modal-body">
								<form action="/sellingcart" enctype="multipart/form-data" method="post" class="form-horizontal form-signin">
								{% csrf_token %}
									<div class="form-group">
										ISBN : <input type="number" name="isbn" class="form-control">
									</div>
									
									
									<div class="form-group">
										Title : <input type="text" name="title" class="form-control">
									</div>
									
									
									<div class="form-group">
										Author : <input type="text" name="author" class="form-control">
									</div>

									<div class="form-group">
										Price : <input type="number" name="price" class="form-control">
									</div>

									<div class="form-group">
										Quantity : <input type="number" name="quantity" class="form-control">
									</div>

									<div class="form-group">
										Image : <input type="file" name="image" class="form-control">
									</div>
									
									<button type="submit" name="action" value="add" class="btn btn-primary" style="position: relative;left: 40%;">Add</button>
								</form>
			 			    </div>
			   				<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  				 </div>
						</div>
			 
		    		</div>
		  		</div>
  
			</div>
			<br>
	<div id="panel">
			{% for c in context %}
			<div class="col-md-4">
				<div class="thumbnail" style="margin:20px 20px 20px 20px;">
					<img src="{% static c.image %}">
					<p><b> {{c.title}}</b></p>
					<span hidden="hidden">{{c.isbn}}</span>
					<p><small>{{c.author}}</small> </p>
					<p><small>Rs. {{c.price}}</small></p>
					<button style="background-color: #B22222;border:none;border-radius: 0;position: relative;" type="button" class="btn btn-primary cart"><b>Remove from cart</b></button>
				</div>
			</div>
			{% endfor %}
	</div>
	<!--Footer -->
    <div class="col-md-12 footer-box" style="background-color: black;color: white;text-align: center;">
    <br>
        <div class="row">
            <div class="col-md-4">
                <strong>Send a Quick Query </strong>
                <hr>
               <form method="get">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" required="required" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit Request</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4" id="contact">
                <strong>Our Location</strong>
                <hr>
                <p>
                     Book Store<br /><br>
                                    NITK, Surathkal<br />
                                    </p><p>
                    Call: <a>+91-9901551546</a><br><br>
                    Email: <a>shamithasudupa@gmail.com</a><br>
                </p> </div>
        </div>
        </div>
    <!-- /.col -->
    <div class="col-md-12 end-box ">
        &copy; 2018 | &nbsp; All Rights Reserved | &nbsp; www.bookstore.com | &nbsp; 24x7 support | &nbsp; Email us: shamithasudupa@gmail.com
    </div>
	</div>
</body>
</html>
